.formDiv {
    margin: 4rem 6rem;
    text-align: center;
    color: #2a2a2a;
}

.formDiv form {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.formDiv input {
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a
}

.formDiv textarea {
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
}

.formDiv button {
    display: inline;
}

.formDiv button:hover {
    color: #fff;
}

.formDiv .success {
    margin: 10px auto;
    width: 40%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.success i {
    padding: 0 5px;
}

@media screen and (max-width:850px){
    .formDiv {
        margin: 4rem 2rem;
        text-align: center;
    }

    .formDiv form {
        padding-top: 2rem;
        width: 90%;
    }

}
